extends home

block layout-content 
  h1.page-title 
     //https://www.pexels.com/photo/woman-standing-on-the-roof-12167528/
     img.card-img-top(src='/images/ws4.jpg' alt='woman-standing-on-the-roof')
     p Our Website was Created to provide people with their day-to-day requirements at their doorsteps.Now with Shopperstop you can buy anything you want and with no extra cost.it for for the community by the community.We have weekly Deals in which you can win so many exciting vouchers hurry!!.  
   
  