extends home 

block layout-content
  
       div.compbox
         .mb-3
         label.form-label.pt-2(for='exampleFormControlInput1') Email Address
         input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
         .mb-3
          label.form-label.pt-3(for='exampleFormControlTextarea1') Please Submit Your Issue
         textarea#exampleFormControlTextarea1.form-control(rows='6')
         input.btn.btn-primary.pl-2.mb-3(type='submit' value='Submit')